<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/Deari55/Intellij-Workspace/AutomationPractice">
        <classes>
            <class name="testCases.AddToCartTest">
                <methods>
                    <include name="addToCartTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>